
body {
  margin: 0 !important;
  padding: 0 !important;
}

#name {
  font-family: 'Unica One', cursive;
  color: white;
  margin-left: 390px;
  font-size: 75px;
  margin-top: 123px;
  float: left;
}

#nav {
  float: right;
  padding-right: 20px;
}
#nav li {
  font-family: 'Unica One', cursive;
  display: inline-block;
  font-size: 20px;
  color: white;
  list-style-type: none;
  /*font-weight: bold;*/
  letter-spacing: 2px;
  margin-right: 30px;

}

#hero {
  background-image: url(images/hero_side_lite.png);
  background-repeat: no-repeat;
  width: cover;
  height: 100vh;
}

#bio_pic {
  background-image: url(images/web01_bioPic.gif);
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-right: 10px;
  width: 368px;
  height: 494px;
  float: right;
}

#bio_copy {
  font-family: 'Unica One', cursive;
  color: #ff3399;
  margin: 500px 40px 0px 50px;
  letter-spacing: 1.25px;
  padding-bottom:10px;
}
